
    <meta charset="utf-8" />
    <title>
        <!-- Title here -->
    </title>
    <!--link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0-rc.2/themes/smoothness/jquery-ui.css" /-->
    <!--script data-require="jquery" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script-->
    <!--script data-require="jqueryui" data-semver="1.10.0" src="https//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script-->
    <!--script src="script.js" defer></script-->
</head>

<body>
<div class="column">

    <div class="portlet" id='feeds'>
        <div class="portlet-header">Feeds</div>
        <div class="portlet-content">
            <h1>Mattis Dis Tellus</h1>

            <h2>Quis Scelerisque</h2>
            <p>Placerat vitae. Commodo nec, dolor nisi risus sociosqu egestas scelerisque. Taciti est, turpis congue sem egestas natoque feugiat sodales turpis sagittis placerat dis convallis nam lacus neque. Purus etiam Dui. Vestibulum quisque. Nascetur
                proin vel, quis sagittis dui.</p>

            <p>Faucibus ridiculus ultricies in nostra hac a, vivamus. Quis fringilla habitant bibendum semper In sed. Urna risus. Posuere magnis tristique nunc molestie. Convallis. Nunc imperdiet fames.</p>

            <p>Vehicula porttitor adipiscing fringilla taciti vitae elit faucibus. Facilisis Cubilia consequat sed est ridiculus vivamus faucibus libero nam vulputate gravida. Odio accumsan Semper cubilia posuere molestie luctus fermentum luctus sapien
                facilisis aenean purus gravida leo hac.</p>
        </div>
    </div>

    <div class="portlet" id='news'>
        <div class="portlet-header">News</div>
        <div class="portlet-content">
            <img src="http://imgs.xkcd.com/comics/laws_of_physics.png" />
        </div>

    </div>

    <div class="portlet" id='shopping'>
        <div class="portlet-header">Shopping</div>
        <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>

    <div class="portlet" id='links'>
        <div class="portlet-header">Links</div>
        <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>

    <div class="portlet" id='images'>
        <div class="portlet-header">Images</div>
        <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>


    <button id="serialize">Serialize</button>