<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!--script src="http://localhost:8080/labkey/bcc/ckeditor/ckeditor.js"></script-->
</head>

<body>
<div id='display'></div>
<textarea id="editor" name="editor"></textarea>
<button id="save">Save</button>
<button id="edit">Edit</button>
<pre lang="html"><code id="text"></code></pre>
<!--script src="http://localhost:8080/labkey/bcc/ckeditor/ckeditor.js"></script-->

</body>

</html>