<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        base_url = LABKEY.ActionURL.getContextPath();
        console.log("base url: " + base_url);
  </script>

</head>

<body>
    <h1>Summary Plot</h1>

    <h3>Select patient by OPTR:</h3>
    <div id="optr-entry-form">
        <input id="optr-list-box" list="optr-datalist" class="input">
        <datalist id="optr-datalist" class="input"></datalist>
        <button id="submit-button">Create Plot</button>
    </div>

    <div id="graph"></div>

    <script>

        var tables_to_plot =
        [
            "Demographics",
            "Diagnosis",
            "Procedures",
            //"BloodDrawTable",
            "Treatments",
            //"OncoLogTreatmentTable",
            //"BiopsyTable",
            //"SampleTable",
            "LabResults",
            "TumorSize",
            //"PrimaryTumorSizeTable",
            "Weight"
        ];

        $(function()
        {

            $('#optr-list-box').focus();
            populateOPTRvalues();
            configureSubmitButton();

        });

        function populateOPTRvalues(data)
        {
            LABKEY.Query.selectRows
            (
                {
                    schemaName: 'study',
                    queryName: 'Demographics',
                    columns: 'optr',
                    success: function(data)
                    {
                        console.log("query success");
                        var list_of_optrs = data.rows.map(function(row){return row['OPTR'];}); // returns list of optrs
                        console.log(list_of_optrs);
                        createDatalistOptions(list_of_optrs)
                    },
                    failure: function()
                    {
                        console.log("query failure");
                    }
                }
            );
        }

        function createDatalistOptions(list_of_optrs)
        {
            list_of_optrs.forEach(function(optr, index)
            {
                //console.log("optr: " + optr);
                $('#optr-datalist').append("<option value=" + optr + "/>");
            });
        }

        function configureSubmitButton()
        {

            $('#submit-button').on('click', function (e)
            {
                //e.preventDefault();
                var selected_optr = $('#optr-list-box').val();
                console.log("selected optr: " + selected_optr);
                if (selected_optr)
                {
                    plotOPTR(tables_to_plot, selected_optr, "graph");
                }
            });
        }

    </script>
</body>

</html>
