<script type="text/javascript">
    Ext4.onReady(function (){
        /* get the participant id from the request URL: this parameter is required. */
        var participantId = LABKEY.ActionURL.getParameter('participantId') || LABKEY.ActionURL.getParameter('patientId');
        if (!participantId){
            alert('Must Provide Id');
            return;
        }

        var title = 'Patient Details: ' + participantId;
        document.title = title;

        Ext4.define('bcc.panel.TabbedReportPanel', {
            extend: 'LDK.panel.TabbedReportPanel',

            initComponent: function(){
                Ext4.ns('bcc.tabbedReports');

                Ext4.apply(this, {
                    //defaultReport: 'abstract',
                    participantId: participantId,
                    reportNamespace: bcc.tabbedReports
                });

                this.callParent();

                this.down('#submitBtn').hidden = true;
                this.loadReports();
            },

            getFilterOptionsItems: function(){
                var items = this.callParent();
                items[0].hidden = true;
                items[1].hidden = true;

                return items;
            },

            loadReports: function(){
                this.reports = [{
                    label: 'Summary',
                    name: 'patientSummary',
                    id: 'patientSummary',
                    category: 'Clinical',
                    reportType: 'js',
                    subjectFieldName: LABKEY.getModuleProperty('Study', 'subject').columnName,
                    dateFieldName: 'date',
                    jsHandler: function(tabPanel, tab){
                        tab.add(Ext4.create('BCC.panel.PatientSummaryPanel', {
                            filterArray: tabPanel.getCombinedFilterArray(tab)
                        }));
                    }
                },
                    this.getReportConfig('Lab Results', 'study', 'Clinical', 'Lab Results'),
                    this.getReportConfig('Procedures', 'study', 'Clinical', 'Procedures'),
                    this.getReportConfig('Diagnoses', 'study', 'Clinical', 'Diagnoses'),
                    this.getReportConfig('Samples', 'study', 'Clinical', 'Samples'),
                    this.getReportConfig('Treatments', 'study', 'Clinical', 'Treatments'),
                    this.getReportConfig('Tumor Size', 'study', 'Clinical', 'Tumor Size'),
                    this.getReportConfig('Weight', 'study', 'Clinical', 'Weight'),
                    this.getSimpleXYPlot('Weight', 'study', 'Clinical', 'Weight Graph', {
                        x: 'date',
                        y: 'weight'
                    }),
                    this.getReportConfig('Outcomes', 'study', 'Clinical', 'Outcomes'),
                    this.getReportConfig('Variants', 'study', 'Genomics', 'Variants'),
                    this.getReportConfig('Immune Cell Phenotyping', 'study', 'Research', 'Immune Cell Phenotyping'),
                    this.getReportConfig('Images', 'study', 'Imaging', 'Images'),
                    this.getReportConfig('Events', 'study', 'Clinical', 'Events')
                ];

                this.reports = LDK.Utils.sortByProperty(this.reports, 'name', false);
                this.reports = LDK.Utils.sortByProperty(this.reports, 'reportCategory', false);

                this.createTabPanel();
            },

            filterTypes: [{
                xtype: 'ldk-singlesubjectfiltertype',
                inputValue: LDK.panel.SingleSubjectFilterType.filterName,
                label: 'Single Participant',
                hidden: true,
                filterContext: {
                    subjects: [participantId]
                },
                getSubjects: function(){
                    return [participantId];
                },
                checkValid: function(){
                    return true;
                }
            }],

            getReportConfig: function(queryName, schemaName, category, title){
                return {
                    id: queryName,
                    name: queryName,
                    category: category,
                    schemaName: schemaName,
                    queryName: queryName,
                    label: title,
                    reportType: 'query',
                    subjectFieldName: LABKEY.getModuleProperty('Study', 'subject').columnName,
                    dateFieldName: 'date'
                };
            },

            getSimpleXYPlot: function(queryName, schemaName, category, title, plotConfig){
                if (!plotConfig || !plotConfig.x || !plotConfig.y){
                    Ext4.Msg.alert('Error', 'Must provide the plotConfig and X/Y field names');
                    return;
                }

                return {
                    id: 'plot-' + queryName,
                    name: queryName,
                    category: category,
                    schemaName: schemaName,
                    queryName: queryName,
                    label: title,
                    reportType: 'js',
                    subjectFieldName: LABKEY.getModuleProperty('Study', 'subject').columnName,
                    dateFieldName: 'date',
                    plotConfig: plotConfig,
                    jsHandler: function(tabPanel, tab){
                        var filterArray = tabPanel.getCombinedFilterArray(tab);

                        LABKEY.Query.selectRows({
                            schemaName: tab.report.schemaName,
                            queryName: tab.report.queryName,
                            filterArray: filterArray,
                            scope: this,
                            failure: LDK.Utils.getErrorCallback(),
                            success: function(results){
                                console.log(results);
                                var x = [];
                                var y = [];

                                LDK.ConvertUtils.parseDatesInSelectRowsResults(results);

                                Ext4.Array.forEach(results.rows, function(row){
                                    if (Ext4.isDefined(row[tab.report.plotConfig.x]) && Ext4.isDefined(row[tab.report.plotConfig.y])){
                                        x.push(row[tab.report.plotConfig.x]);
                                        y.push(row[tab.report.plotConfig.y]);
                                    }
                                }, this);

                                if (!results.rows.length){
                                    tab.add({
                                        html: 'No records found',
                                        border: false
                                    });
                                }
                                else {
                                    tab.add(Ext4.create('LDK.panel.ContentResizingPanel', {
                                        plotConfig: tab.report.plotConfig,
                                        width: '100%',
                                        minHeight: 50,
                                        border: false,
                                        listeners: {
                                            scope: this,
                                            afterRender: function(panel){
                                                var data = [{
                                                    x: x,
                                                    y: y,
                                                    mode: 'lines+markers',
                                                    type: 'scatter'
                                                }];

                                                Plotly.plot(panel.renderTarget, data, {
                                                    title: panel.plotConfig.title,
                                                    //autosize: false,
                                                    //width: '100%', //why not working?
                                                    displayModeBar: true,
                                                    xaxis: {
                                                        type: 'date',
                                                        tickformat: '%x',
                                                        //tickmode: 'auto',
                                                        ticks: 'outside',
                                                        tickwidth: 1,
                                                        tickangle: 40,
                                                        ticklen: 5,
                                                        showticklabels: true,
                                                        showline: false,
                                                        showgrid: true,
                                                        autorange: true
                                                    },
                                                    yaxis: {
                                                        showgrid: true
                                                    }
                                                });
                                            }
                                        }
                                    }));
                                }
                            }
                        });
                    }
                };
            }
        });

        Ext4.create('bcc.panel.TabbedReportPanel').render('participantDiv');
    });
</script>
<div id="participantDiv"></div>