<script type="text/javascript">
    Ext4.onReady(function (){
        /* get the participant id from the request URL: this parameter is required. */
        var participantId = LABKEY.ActionURL.getParameter('participantId') || LABKEY.ActionURL.getParameter('patientId');
        if (!participantId){
            alert('Must Provide Id');
            return;
        }

        var title = 'Patient Details: ' + participantId;
        document.title = title;

        Ext4.define('bcc.panel.TabbedReportPanel', {
            extend: 'LDK.panel.TabbedReportPanel',

            initComponent: function(){
                Ext4.ns('bcc.tabbedReports');

                Ext4.apply(this, {
                    //defaultReport: 'abstract',
                    participantId: participantId,
                    reportNamespace: bcc.tabbedReports
                });

                this.callParent();

                this.down('#submitBtn').hidden = true;
                this.loadReports();
            },

            getFilterOptionsItems: function(){
                var items = this.callParent();
                items[0].hidden = true;
                items[1].hidden = true;

                return items;
            },

            loadReports: function(){
                this.reports = [
                    this.getReportConfig('Lab Results', 'study', 'Clinical', 'Lab Results'),
                    this.getReportConfig('Procedures', 'study', 'Clinical', 'Procedures'),
                    this.getReportConfig('Diagnoses', 'study', 'Clinical', 'Diagnoses'),
                    this.getReportConfig('Treatments', 'study', 'Clinical', 'Treatments'),
                    this.getReportConfig('Tumor Size', 'study', 'Clinical', 'Tumor Size'),
                    this.getReportConfig('Weight', 'study', 'Clinical', 'Weight'),
                    this.getReportConfig('Outcomes', 'study', 'Clinical', 'Outcomes'),
                    this.getReportConfig('Variants', 'study', 'Genomics', 'Variants'),
                    this.getReportConfig('Immune Cell Phenotyping', 'study', 'Research', 'Immune Cell Phenotyping'),
                    this.getReportConfig('Images', 'study', 'Imaging', 'Images'),
                    this.getReportConfig('Events', 'study', 'Clinical', 'Events')
                ];

                this.reports = LDK.Utils.sortByProperty(this.reports, 'name', false);
                this.reports = LDK.Utils.sortByProperty(this.reports, 'reportCategory', false);

                this.createTabPanel();
            },

            filterTypes: [{
                xtype: 'ldk-singlesubjectfiltertype',
                inputValue: LDK.panel.SingleSubjectFilterType.filterName,
                label: 'Single Participant',
                hidden: true,
                filterContext: {
                    subjects: [participantId]
                },
                getSubjects: function(){
                    return [participantId];
                },
                checkValid: function(){
                    return true;
                }
            }],

            getReportConfig: function(queryName, schemaName, category, title){
                return {
                    id: queryName,
                    name: queryName,
                    category: category,
                    schemaName: 'study',
                    queryName: queryName,
                    label: title,
                    reportType: 'query',
                    subjectFieldName: 'patientId',
                    dateFieldName: 'patientId'
                };
            }
        });

        Ext4.create('bcc.panel.TabbedReportPanel').render('participantDiv');
    });
</script>
<div id="participantDiv"></div>