<script type="text/javascript">
    Ext4.onReady(function (){
        Ext4.define('bcc.panel.TabbedReportPanel', {
            extend: 'LDK.panel.TabbedReportPanel',

            initComponent: function(){
                Ext4.ns('bcc.tabbedReports');

                Ext4.apply(this, {
                    //defaultReport: 'abstract',
                    participantId: participantId,
                    reportNamespace: bcc.tabbedReports
                });

                this.callParent();

                this.loadReports();
            },

            loadReports: function(){
                this.reports = [
                    this.getReportConfig('samples', 'study', 'Clinical', 'Samples'),
                    this.getReportConfig('malignancies', 'study', 'Clinical', 'Malignancies'),
                    this.getReportConfig('demographics', 'study', 'Clinical', 'Demographics'),
                    this.getReportConfig('wgs', 'study', 'Genomics', 'Whole Genome Data'),
                    this.getReportConfig('rnaseq', 'study', 'Genomics', 'RNA-Seq')
                ];

                this.reports = LDK.Utils.sortByProperty(this.reports, 'name', false);
                this.reports = LDK.Utils.sortByProperty(this.reports, 'reportCategory', false);

                this.createTabPanel();
            },

            filterTypes: [{
                xtype: 'ldk-singlesubjectfiltertype',
                inputValue: LDK.panel.SingleSubjectFilterType.filterName,
                label: 'Single Patient',
                nounSingular: 'Patient'
            },{
                xtype: 'ldk-multisubjectfiltertype',
                inputValue: LDK.panel.MultiSubjectFilterType.filterName,
                label: 'Multiple Patients',
                nounSingular: 'Patient'
            },{
                xtype: 'ldk-nofiltersfiltertype',
                inputValue: LDK.panel.NoFiltersFilterType.filterName,
                label: LDK.panel.NoFiltersFilterType.label
            }],

            getReportConfig: function(queryName, schemaName, category, title){
                return {
                    id: queryName,
                    name: queryName,
                    category: category,
                    schemaName: 'study',
                    queryName: queryName,
                    label: title,
                    reportType: 'query',
                    subjectFieldName: 'patientId',
                    dateFieldName: 'patientId'
                };
            }
        });

        Ext4.create('bcc.panel.TabbedReportPanel').render('participantDiv');
    });
</script>
<div id="participantDiv"></div>