<h>PTTB Timeline Plot</h>

<div id="myDiv" style="width: 600px; height: 300px;"></div>

<script type="text/javascript">
    var myPlot = document.getElementById('myDiv');
    var hoverinfo = document.getElementById('hoverinfo');

    var dates = ["7/1/2015","7/13/2015", "8/1/2015", "9/1/2015", "9/11/2015","10/1/2015"]

    function toDate(d) {
        var parts = d.split('/');

      return new Date(parts[2], parts[0], parts[1]).getTime();
    }

    var timeline =
        {
            x: dates.map(toDate),
            y: ["", "", "", "", "", ""],
        };

    var data = [timeline];

    var layout =
        {
            title: "Title",
        xaxis:
        {
          type: 'date',
          tickvals: dates.map(toDate),
          ticktext: dates,
          tickfont:
          {
            color:"rgb(107, 107, 107)",
            size:11
          },
          ticks:"outside",
          tickwidth:1,
          tickangle:40,
          ticklen:5,
          showticklabels:true,
          showline:true,
          showgrid: false
            },
        yaxis:
        {
          range: [0, 1],
          showgrid: false,
          zeroline: false,
          autotick: false,
          ticks: '',
          showticklabels: false,
          showline: false,
        },
            annotations:
        [
          {
            x: toDate("09/11/2015"),
            y: 0,
            align: "center",
            arrowcolor: "rgba(0, 0, 0, 1.0)",
            arrowhead: 5,
            arrowsize: 1,
            ax: -0,
            ay: -50,
            bgcolor: "rgba(255,0, 255, 1.0)",
            bordercolor: "rgba(0, 0, 0, 0)",
            borderpad: 3,
            borderwidth: 0,
            font: {size: 14},
            text: "CA12-3: 144",
            textangle: 0
          },
          {
            x: toDate("09/11/2015"),
            y: 0,
            align: "center",
            bgcolor: "rgba(0, 255, 255, 0.29)",
            bordercolor: "rgba(0, 0, 0, 0)",
            borderpad: 3,
            borderwidth: 0,
            arrowcolor: "rgba(0, 0, 0, 0.0)",
            arrowhead: 0,
            arrowsize: 0,
            ax: -0,
            ay: -80,
            font: {size: 14},
            text: "Specimin",
            textangle: 0
          },
          {
            x: toDate("09/11/2015"),
            y: 0,
            align: "center",
            bgcolor: "rgba(255, 255, 0, 0.29)",
            bordercolor: "rgba(0, 0, 0, 0)",
            borderpad: 3,
            borderwidth: 0,
            arrowcolor: "rgba(0, 0, 0, 0.0)",
            arrowhead: 0,
            arrowsize: 0,
            ax: -0,
            ay: -110,
            font: {size: 14},
            text: "Draw",
            textangle: 0
          },
          {
            x: toDate("07/13/2015"),
            y: 0,
            align: "center",
            bgcolor: "rgba(0, 255, 255, 0.29)",
            bordercolor: "rgba(0, 0, 0, 0)",
            borderpad: 3,
            borderwidth: 0,
            arrowcolor: "rgba(0, 0, 0, 1.0)",
            arrowhead: 5,
            arrowsize: 1,
            ax: -0,
            ay: -80,
            font: {size: 14},
            text: "Specimin",
            textangle: 0
          }
            ]
        };

    Plotly.plot
    (
      'myDiv',
      data,
      layout,
      {scrollZoom: true}
    );

    console.log(document.getElementById('myDiv').data)
    console.log(document.getElementById('myDiv').layout)
    console.log(document.getElementById('myDiv').layout.annotations)

    layout = document.getElementById('myDiv').layout;
    console.log(layout.annotations[0]);
    console.log(Object.getOwnPropertyNames(layout['annotations']));

    annotation = document.getElementById('myDiv').layout.annotations[0];
    annotation.onmouseover = function(){alert('mouserover')};

    //document.getElementById('test').onmouseover= function(){alert('mouseover');};
    //document.getElementById('test').onmouseout= function(){alert('mouseout');};

    myPlot
      .on('plotly_hover', function(data)
        {
          var infotext = data.points.map(function(d)
          {
            return (d.data.name+': x= '+d.x+', y= '+d.y.toPrecision(3));
          });
          hoverinfo.innerHTML = infotext.join('');
        })
      .on('plotly_unhover', function(data)
        {
            hoverinfo.innerHTML = '';
            });

    console.log(Object.keys(myPlot['layout']['annotations'][0]));

</script>
