
<h1>Select Patient by OPTR:</h1>


<div id="data-selection">
    <label for="optr-select" style="display: inline; float: left; margin: 0 1em 0 0 ">Select OPTR: </label>
    <select name="optr-select" id="optr-select" style="display: inline; margin: 0 1em 0 0 ">
        <!-- populate by query -->
    </select>

    <button
            id="y-left-dropdown"
            class="dropdown-button"
            type='button'
            style="display: inline; margin: 0 1em 0 0 "
            data-for="y-left-dropdown-list"
    >Select Y Left <span class="arrow">&#x25bc;</span>
    </button>

    <button
            id="y-right-dropdown"
            class="dropdown-button"
            type='button'
            style="display: inline; margin: 0 1em 0 0 "
            data-for="y-right-dropdown-list"
    >Select Y Right <span class="arrow">&#x25bc;</span>
    </button>

    <button
            id="event-dropdown"
            class="dropdown-button"
            type='button'
            style="display: inline; margin: 0 1em 0 0 "
            data-for="event-dropdown-list"
    >Select Events <span class="arrow">&#x25bc;</span>
    </button>

    <button id="submit-options" style="display: inline; margin: 0 1em 0 0 ">Submit</button>
</div>


<div class="dropdown" style="position: relative; left: 11em">
    <ul id='y-left-dropdown-list' class="dropdown-menu" z-index="99" style="display:none;list-style-type:none;">
        <li><input class='y-left-options' type='radio' id='none' name='y-left' value='none' checked>None</li>
    </ul>
</div>

<div class="dropdown" style="position: relative; left: 20em">
    <ul id='y-right-dropdown-list' class="dropdown-menu" z-index="99" style="display:none;list-style-type:none; ">
        <li><input class='y-right-options' type='radio' id='none' name='y-right' value='none' checked>None</li>
    </ul>
</div>

<div class="dropdown" style="position: relative; left: 30em">
    <ul id='event-dropdown-list' class="dropdown-menu" z-index="99" style="display:none;list-style-type:none;">
    </ul>
</div>

<div id="plot-container" ></div>

