
<h1>Select Patient by OPTR:</h1>

<div id="optr_dropdown" style="display: inline">
    <label for="optr-select">Select or Type OPTR: </label>
    <select name="optr-select" id="optr-select">
        <!-- populate by query -->
    </select>
</div>

<div class="dropdown" style="display: inline">
    <button
        id="dropdown-button"
        type='button'
    >Select Graph Data &#x25bc;
    </button>
    <ul id='dropdown' class="dropdown-menu" z-index="99" style="display:none;list-style-type:none">
        <li>
            <input class='OptionsCheckbox' type="checkbox" id="CA19_9_checkbox_TTBplotA" name="CA19_9" checked> Show CA19-9 </li>
        <li>
            <input class='OptionsCheckbox' type="checkbox" id="ShowWeight_TTBplotA" name="Weight">Weight</li>
        <li>
            <input class='OptionsCheckbox' type="checkbox" id="ShowTumorSize_TTBplotA" name="TumorSize" checked> Tumor Size </li>
        <li>
            <input class='OptionsCheckbox' type="checkbox" id="ShowTreatments_TTBplotA" name="Treatments" checked> Treatments </li>
        <li>
            <input class='OptionsCheckbox' type="checkbox" id="ShowFirstTreatments_TTBplotA" name="FirstTreatments" checked> First Treatments </li>
        <li>
            <input class='OptionsCheckbox' type="checkbox" id="ShowInitialDiagnosis_TTBplotA" name="InitialDiagnosis" checked> InitialDiagnosis </li>
        <li>
            <input class='OptionsCheckbox' type="checkbox" id="ShowSurgeries_TTBplotA" name="Surgeries" checked> Surgeries </li>
        <li>
            <input class='OptionsCheckbox' type="checkbox" id="ShowBloodDraws_TTBplotA" name="BloodDraws" checked> Blood Draws </li>
        <li>
            <input class='OptionsCheckbox' type="checkbox" id="DifferentiateMets_TTBplotA" name="DifferentiateMets"> Differentiate Mets </li>
        <li>
            <input class='OptionsCheckbox' type="checkbox" id="ShowOtherEvents_TTBplotA" name="OtherEvents" checked> OtherEvents </li>
    </ul>
</div>

<button id="submit-options" style="display: inline">Submit</button>

<div id="myDiv"></div>

