<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <div id="4225"></div>
        <div id="4411"></div>
        <div id="4482"></div>
        <div id="3024"></div>
        <div id="4346"></div>
        <div id="4487"></div>
    </body>

    <script>
        var tables_to_plot =
        [
            "Demographics",
            "Diagnosis",
            "Procedures",
            //"BloodDrawTable",
            "Treatments",
            //"OncoLogTreatmentTable",
            //"BiopsyTable",
            //"SampleTable",
            "LabResults",
            "TumorSize",
            //"PrimaryTumorSizeTable",
            "Weight"
        ];

    </script>
</html>
